<div class="mainContent">
    <div class="mainText">
        <strong>{{tempreC}}<sup class="cORf">C</sup><sub class="cORf">{{temperF}}<sup  id ="merticF">F</sup></sub></strong>
       <strong class="cityName"><b>{{test.cityName}}</b><sub class="cORf">{{test.countryName}}</sub></strong>
    </div>
    <div class="details" >
        <strong><img class="imagesBox" src="../../assets/img/{{mainForecast }}.png">{{test.mainWeather}}</strong>
        <strong><img class="imagesBox" src="../../assets/img/waterDrop.png\"> {{test.humidity}}%</strong>
        <strong><img class="imagesBox" src="../../assets/img/wind.png\">{{test.windSpeed}}m/s </strong>
        <strong><img class="imagesBox" src="../../assets/img/pressure.png\">{{test.pressure}}hpa</strong>
    </div>
</div>
